body {
    margin: 0;
    font-family: Tahoma;
}

/* === Estilos globais === */
/* div */
.secao {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}
/* p */
.paragrafo {
    margin: 10px auto;
    width: 980px;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

/* ===  1ª seção === */
.topo {
    background-color: #afddfb;
}

.imagem-logotipo {
    width: 150px;
}

.paragrafo-topo {
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
}

/* .paragrafo-topo a { */
.link-topo {
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    text-decoration: none;
    margin: 0 10px;
}

/* ===  2ª seção === */
.banner {
    margin-top: 50px;
    padding-top: 0;
}

/* ===  Estilos para destaques span === */
span {
    font-weight: bold;
}

.texto-azul {
    color: #1d80c1;
}

.texto-amarelo {
    color: #fff81b;
}

.texto-branco{
    color: #ffffff;
}

/* ===  3ª seção === */

h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

h2 {
    color: #1c81c0;
    font-weight: normal;
}

.imagem-sobre {
    width: 450px;
}

/* ===  4ª seção === */

.servicos, .contato {
    background-color: #1d80c1;
}

h3 {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

/* .secao4 p { */
.paragrafo-servicos {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

/*  .secao4 ul {  */
.lista-servicos {  
    margin: 40px auto;
    width: 135px;
}

/*  .secao4 ul li {  */
.item-lista-servicos {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

/* ===  6ª seção === */

/*.secao6 {
    background-color: #1d80c1;
}*/

/*.secao6 p {  */
.paragrafo-contato {
    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*  .secao6 ul {  */
.lista-contato {
    margin: 40px auto;
    width: 210px;
    list-style: none;
}

/*  .secao6 ul li {  */
.item-lista-contato { 
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

/*  .secao6 ul li a { */
.link-contato {    
    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    margin-top: 15px;
    border-radius: 5px;
}